<div class="container" ng-controller="UsersController as UsersCtrl">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                     alt="">
                <form class="form-signin" ng-submit="UsersCtrl.signin(UsersCtrl.email, UsersCtrl.password)">
                    <div ng-show="UsersCtrl.errorMessages" class="alert alert-danger" role="alert">{{'ERRORMESSAGE' | translate}}</div>
                    <input type="text" class="form-control" placeholder="{{'USERNAME' | translate}}" id="email" ng-model="UsersCtrl.email" autofocus>
                    <input type="password" class="form-control" placeholder="{{'PASSWORD' | translate}}" id="password" ng-model="UsersCtrl.password">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">{{'SIGNIN' | translate}}</button>
                </form>
            </div>
            <a ui-sref="signup" class="text-center new-account">{{'NEWACC' | translate}}</a>
        </div>
    </div>
</div>



